rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow write: if false;
      allow read: if request.auth.uid == userId
    }

    match /tasks/{taskId} {
      allow write: if false;
      allow read: if resource.data.user == request.auth.uid
    }

    match /reports/{reportId} {
      allow delete,read: if resource.data.user == request.auth.uid
      allow write: if false 
    }

    match /{document=**} {
      allow read, write: if
          request.time < timestamp.date(2022, 4, 21);
    }
  }
}